/* Write your CSS here */
* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-family: Bree Serif;
  font-size: 60px;
  margin-bottom: 20px;
}
.description {
  color: #ffffff;
  font-family: Bree Serif;
  font-size: 20px;
  margin-bottom: 20px;
}
.button {
  background-color: #ffffff;
  height: 40px;
  width: 90px;
  font-size: 15px;
  border-radius: 10px;
  border-width: 0px;
  font-family: Bree Serif;
}
